[2014-07-02 19:28] rjmartell opened #1 "validateMetadataProperties: Metadata property declared locally is not detected"
Suppose a GML feature type defines a metadata property using a local element declaration as shown below:

[code]

This property is not detected in the `ComplexPropertyTests#validateMetadataProperties` test and is thus not checked for conformance.

**Note:** Global property declarations are handled properly.

[2014-07-04 23:27] #1 closed, assigned to rjmartell

[2014-07-07 18:34] rjmartell opened #2 "Exception thrown if coordinate tuple length > CRS dim"
An `ArrayIndexOutOfBoundsException` is thrown in the PointTests#pointHasValidPosition test method if the length of the coordinate tuple exceeds the dimension of the associated CRS. For example:

[code]

[2014-07-08 17:33] #2 closed, assigned to rjmartell

[2014-07-08 20:37] rjmartell opened #3 "LineString geometry is ignored"
In `org.opengis.cite.iso19136.data.spatial.CurveTests`, gml:LineString elements are ignored--they are not detected by the findCurves() method, which looks only for gml:Curve elements. Perhaps it can be enhanced to also seek LineString geometries.

**Note:** These tests were originally implemented to support the AIXM-GML profile (see [OGC 12-028](https://portal.opengeospatial.org/files/?artifact_id

[2014-07-24 10:56] bermud opened #4 "Eliminate unnecessary test run argument"
The GML test suite currently recognizes separate test run arguments for schema
and document references (xsd and gml, respectively). A single argument would
suffice (say, \'iut\'); the resulting entity (document element) can be
examined to determine whether it is an app schema or not (i.e. a GML
document).

[Originally reported in the OGC CITE issue tracker: issue #939](https://portal.opengeospatia

[2014-08-21 12:52] bermud opened #5 "update release notes for r17"

[2014-08-21 12:53] bermud opened #6 "Provide information about reference implementation and example files"
- In the description of the test
- Provide a reference  from the main ctl to the test description

[2014-08-21 18:18] #5 closed, assigned to nobody

[2014-10-15 19:42] #4 closed, assigned to rjmartell

[2015-02-03 16:49] bermud opened #7 "Not clear instructions about schema behavior"
The instructions say the following

_The test run arguments are summarized in Table 3. The Obligation descriptor can have the following values: M (mandatory), O (optional), or C (conditional). A GML application schema may be validated by itself. If the 'xsd' and 'vml' arguments are both present, the 'xsd' value is ignored and the (required) schema reference in the GML instance will be used instead

[2015-02-05 23:19] rjmartell commented on #7
Is this for an older release? In the current release (r18) the 'gml' argument refers to either a representation of a GML data instance or a GML application schema (this change arose from issue #4). See the latest site docs at http://opengeospatial.github.io/ets-gml32/.

[2015-02-13 18:03] bermud opened #8 "Junit test failures on OS X and Windows 7"
When building r17 and r18

Failed tests:
  VerifyPropertyValueTests.locationName_unknownHost
Expected: (exception with message a string containing "Failed to connect to URL" and an instance of java.lang.AssertionError)
     got: <java.lang.AssertionError: Response entity is missing. expected [true] but found [false]>

  VerifyETSAssert.assertURLIsResolvable_unknownHost
Expected: (exception with me

[2015-02-16 18:12] rjmartell commented on #8
Luis,

Could you please add the part of the diagnostic message following "got:"? Or was that everything?

[2015-02-17 18:24] bermud commented on #8
@rjmartell,

- I think there was more after "got:" I will try again and provide the complete message
- java version "1.7.0_45"
- OS X 10.9.5

[2015-02-18 21:45] rjmartell commented on #7
A GML instance is required to have a schema reference (ISO 19136, A.3.1).

[2015-02-18 21:45] #7 closed

[2015-02-19 17:38] rjmartell opened #9 "Feature property type with choice compositor"
According to ISO 19136, cl. 9.9.1 a feature collection has a property type that is derived by extension from  `gml:AbstractFeatureMemberType`. The child element must be a GML feature such that the content model is consistent with gml:FeaturePropertyType.

The following property type does not raise an error even though one of the allowed values is **not** a feature (gml:Envelope).

[code]

The `Fea

[2015-02-24 18:41] bermud commented on #8
I tried to build master. Here is the error:

[code]

[2015-03-05 01:09] bermud commented on #8
@rjmartell, have you checked on this further?
if skipping tests, it works fine:
```mvn install -Dmaven.test.skip=true```

[2015-03-05 22:36] bermud commented on #8
fixed in 71def06af39f8b491a6d1033254641ef0ee214e5

[2015-03-16 17:41] bermud opened #10 "Is the GML test Testing Topology (corrupted geometries)"
What is the test scope for GML for topology. For example if a polygon geometry is not correct?

[2015-03-16 22:56] rjmartell commented on #3
Fixed in 1.20 (added org.opengis.cite.iso19136.data.spatial.LineStringTests).

[2015-03-16 22:56] #3 closed

[2015-04-13 20:11] rjmartell commented on #10
The geometry-related tests were developed to verify conformance with the GML-AIXM profile. See the [test suite documentation](http://opengeospatial.github.io/ets-gml32/). The tests also apply to any application-defined geometries that can substitute for the standard GML elements listed below:

* gml:Point
* gml:Curve having the following curve segments: gml:ArcByCenterPoint, gml:CircleByCenterPoin

[2015-04-13 21:34] rjmartell commented on #10
The tests for surface geometries (i.e. elements that substitute for gml:AbstractSurface) are defined in the `org.opengis.cite.iso19136.data.spatial.SurfaceTests` class:

* surfaceHasValidCRS
* validSurfaceBoundary
* validSurfaceOrientation

[2015-04-13 21:34] #10 closed

[2015-04-14 16:52] rjmartell commented on #9
Fixed in 1.20.

[2015-04-14 16:52] #9 closed

[2015-04-22 21:18] rjmartell commented on #8
This appears to be a platform-specific issue. For example, it does not occur when building on Windows 7 or a recent Linux distribution using the Oracle JDK 7. The unit test should fail with an `IOException` because the URI http://codespace.nowhere.info/ is not accessible.

[2015-04-23 19:01] rjmartell commented on #8
I was able to build the test suite on OS X 10.7.4 using Oracle JDK 7u79.

[2015-05-27 14:46] bermud opened #11 "pointHasValidPosition - Java Null Pointer exception"
testing a gml file with GML 3.2 suite rel. 1.20 we got a ‘Java Null Pointer exception’ (we also get the same error testing with release 18). The point coordinates seems OK (length of coordinate tuple = CRS dimension -the point is located within the valid area of the CRS - axis order is correct).

![pointhasvalidposition_javanullpointer_2](https://cloud.githubusercontent.com/assets/3738898/7838886/

[2015-05-27 14:49] bermud commented on #11
Link to file is here: https://gist.github.com/bermud/ff67d9a79b63c16979a9

[2015-06-05 15:05] bermud commented on #8
I'm opening this issue again, but changed the title to be OS specific.

[2015-06-09 17:49] rjmartell commented on #11
Looks like there is an issue with identifying the CRS (srsName="http://www.opengis.net/def/crs/EPSG/0/3045"). I'll investigate.

[2015-06-09 17:58] rjmartell commented on #8
Exactly what configuration is affected? For example, it builds on an older MacBook (2010) running OS X 10.7.4 with Oracle JDK 7u79.

[2015-06-09 18:30] rjmartell commented on #11
There is a fix pending, but the point coordinates are invalid: they do fall within not within the CRS area of use (3928493 227880, 8325798 772120).

[code]

[2015-06-09 19:13] rjmartell commented on #11
Fixed NPE.

[2015-06-09 19:13] #11 closed

[2015-07-13 16:13] bermud opened #12 "validSurfaceOrientation test"
INSPIRE GML documents fail this test because ISO19107 is violated in the orientation of the surface when creating geometries.

From 19136, 10.5.10:
"A Surface is a 2-dimensional primitive and is composed of one or more surface patches as specified in ISO 19107:2003, 6.3.17.1."

From 19107, 6.3.17.1:

"The orientation of a surface chooses an "up" direction through the choice of the upward normal, w

[2015-07-13 16:15] bermud commented on #12
(From Richard)
A solution might be to introduce an application-specific conformance to ignore or overwrite  the surface orientations.

GML only defines one conformance class for GML documents (2.4); it essentially requires “full” conformance. Perhaps a lesser level could be introduced that omits some “advanced” constraints.

[2015-07-13 16:19] bermud opened #13 "envelopeHasValidCRS fails if srsName is URL"
Test method “envelopeHasCRSReference” Fails if CRS is encoded according to INSPIRE,  i.e.  “http://www.opengis.net/def/crs/EPSG/0/EPSGcode “ while it succeeds if CRS is given as ”urn:ogc:def:crd:EPSG::EPSGcode”

(Reported By Epislon-Italia)

[2015-07-13 16:24] bermud opened #14 "pointHasValidPosition - axis order"
The  Test method ‘pointHasValidPosition’  fails for most INSPIRE GML files due to different order of coordinates (Lon Lat ) instead of (Lat Lon).

Lost of tools assume Lon Lat order by default
- QGIS
- Tools for transforming PostGis DB table or shape file format to INSPIRE compliant GML have default Lon Lat, because PostGIS default is Lon Lat and shape files if often Lon Lat order

(Reported by Ep

[2015-07-14 08:54] sMorrone commented on #8
When building r1.21 on Windows 7,  java version 1.8.0_45, following tests fail:

VerifyPropertyValueTests.locationName_unknownHost
![screenshot 2015-07-09 15 01 29](https://cloud.githubusercontent.com/assets/13329248/8669478/59aa8122-2a15-11e5-9474-8eef8c67224a.png)

VerifyETSAssert.assertURLIsResolvable_unknownHost
![screenshot 2015-07-09 14 43 58](https://cloud.githubusercontent.com/assets/13329

[2015-07-14 13:35] bermud commented on #8
Hi @sMorrone thank you for reporting the issue. I updated the title. This one has been hard to debug. We have tested in other OS machines and it works fine. The tests ensure that any changes to the code are not breaking anything. It is mostly used by the lead developer. But we sure need to find the problem.

@rjmartell, what do you suggest?

[2015-08-14 16:20] rjmartell commented on #12
Yes, this is a general constraint that applies to all conforming GML 3.2 documents. Specific violations may be ignored in some circumstances (at the risk of hindering interop with consumers that expect valid instances). Another option is to request that the ATS for GML 3.2 be amended to introduce a lesser conformance class for documents.

[2015-08-14 16:26] rjmartell commented on #13
The `http` URI form should be acceptable (per [OGC 09-048r3, cl. 4.4)](http://portal.opengeospatial.org/files/?artifact_id=37802). I'll attempt to verify and add a bug report if confirmed.

[2015-08-14 16:41] rjmartell commented on #14
The axis order must be in accord with the applicable CRS definition. Note that the WMS 1.3 spec (B.3) defines the CRS *WGS 84 longitude-latitude*; it can be referenced as indicated in OGC 09-048r3:

* `http://www.opengis.net/def/crs/OGC/1.3/CRS84`
* `urn:ogc:def:crs:OGC:1.3:CRS84`

[2015-08-14 17:39] rjmartell commented on #8
The original report was about building the ETS with JDK 7. It builds successfully using Oracle JDK 7u79 (x64) on Windows 7 Pro SP1.

`Tests run: 134, Failures: 0, Errors: 0, Skipped: 3`

I'll try building it with the latest JDK 8.

[2015-08-14 18:48] rjmartell commented on #8
All unit tests passed using Oracle JDK 8u51 (x64) on Windows 7 Pro SP1. However, the build failed due to Javadoc errors (reported with doclint enabled). I cleaned these up on the master branch.

[2015-08-24 16:19] rjmartell commented on #13
An assertion error is thrown if the CRS reference is an 'http' URI. For example:

[code]

The underlying exception is org.opengis.referencing.NoSuchAuthorityCodeException:  `Illegal argument: ‘code’=http://www.opengis.net/def/crs/EPSG/0/32610`

[2015-08-24 21:37] #13 closed

[2015-09-10 14:22] bermud opened #15 "Support validation of temporal elements in instance documents"
Version 1.21 verifies that temporal  _schema components_  are defined in accord with the rules for application schemas. However, all temporal elements in an _instance document_ are ignored.

[2015-09-28 09:14] sMorrone opened #16 "validSurfaceBoundary test method returns 'Polygon not closed' issue on a closed polygon"
I get the following test log
"Message d1e181_1:
Test method validSurfaceBoundary:
Exterior boundary of surface with @gml:id='_7c18c4d9-5ecf-4a96-b3ce-a654c4c485f0' is not closed. expected [true] but found [false]"
Here's the gml snippet for the polygon:
 "gml:Surface
gml:id="_7c18c4d9-5ecf-4a96-b3ce-a654c4c485f0" srsName="http://www.opengis.net/def/crs/EPSG/0/3044">
                    <gml:patche

[2015-10-21 20:14] rjmartell commented on #15
The schema is checked for valid temporal type definitions in accord with conformance class A.1.7: `GML application schemas defining time`. Clause A.3 (_Abstract test suite for GML documents_) does not explicitly mention temporal elements, but instances are always validated against the relevant application schemas (A.3.4, Valid XML).

ATC-A.3.5 is a "catch-all" test requirement that covers "all oth

[2015-10-21 21:49] rjmartell commented on #16
There appears to be an extraneous point at (557434.869 4889943.527), which is very close to the start/end point (557434.439 4889943.441). If this point is removed, no error is reported.

Perhaps those points are supposed to be coincident?

[2015-10-21 22:05] #14 closed

[2015-10-21 22:05] #12 closed

[2015-10-21 22:46] rjmartell commented on #16
What seems to be happening here is that an attempt is made to remove consecutive "duplicate" points that are very nearly coincident (ppm tolerance). In this case, that odd point (557434.869, 4889943.527) is kept and the last one (557434.439, 4889943.441) is ignored so the curve is deemed to be open. This procedure can be modified such that the terminal point is always kept.

[2015-10-22 17:46] rjmartell commented on #16
Created new issue: [geomatics-geotk#1](/opengeospatial/geomatics-geotk/issues/1)

[2015-10-22 18:17] #16 closed

[2015-10-22 18:18] rjmartell commented on #16
Fixed for next release (1.22).

[2015-10-22 21:52] rjmartell commented on #6
There are several well-known application schemas based on GML 3.2

* [GeoSciML](http://www.geosciml.org/) (v3.2)
* [AIXM](http://www.aixm.aero/) (v5.1)
* [INSPIRE](http://inspire.ec.europa.eu/index.cfm/pageid/2/list/xml-schemas) (v4.0)

[2015-10-22 22:59] rjmartell commented on #6
Updated README.

[2015-10-22 22:59] #6 closed

[2015-10-22 23:29] bermud commented on #6
Maybe you can also point to this page https://github.com/opengeospatial/cite/wiki/Reference-Implementations, where we have the two initial reference implementations. Great to have other sources as well. Thank you for documenting.

[2015-10-23 20:46] rjmartell commented on #8
The test suite builds cleanly in the following environments:

Operating System | JDK | Maven
----- | ----- | -----
Windows 7 Pro SP1 (x64) | Oracle 7u79, 8u51 | 3.3.3
RHEL 6.7 (x64) | Oracle 7u79, 8u51 | 3.3.3

[2015-10-27 16:22] rjmartell commented on #8
Fixed by commit 0a7c0685466a94758e18f18a0235f1ad64d3a8e8

[2015-10-27 16:22] #8 closed

[2015-10-27 16:27] rjmartell commented on #15
This will likely be addressed in [OGC Testbed 12](http://www.opengeospatial.org/standards/requests/139), which calls for testing of temporal predicates in the WFS v2 test suite.

[2015-10-27 16:27] #15 closed

[2015-12-04 00:22] bermud opened #17 "Colors in detailed test report are confusing or not correct"
Left side all the block icons are in red, they should be green or yellow.

TE 4.4
GML 3.2.1 r 1 .22
RI Tested:
http://services.interactive-instruments.de/cite2015/simpledemo/cgi-bin/cities-postgresql/wfs?request=GetFeature&service=WFS&version=2.0.0&TYPENAMES=ci:City&COUNT=10&NAMESPACES=xmlns(ci,http://www.interactive-instruments.de/namespaces/demo/cities/2.0/cities)

![gml-result](https://cloud.gi

[2015-12-16 16:50] rjmartell commented on #17
Here's what we might expect in the results frame on the left:

* no test failures: GREEN
* one or more tests failed: RED
* all tests skipped: YELLOW

The HTML report is generated using the testng-report.xsl stylesheet in the `teamengine-spi` module, so this is not really an issue about the GML test suite. The colored background arises from an empty div element with a class attribute: testCaseFail,

[2015-12-16 17:03] rjmartell commented on #17
The given request URI doesn't resolve: An error code (400) with an exception report is returned:

    Request rejected due to errors.
    InternalExceptionCode: iiOperationParsingFailed.
    Reason: The requested FeatureType "cix:City" is not available for the WFS.

The namespace is incorrect. According to the capabilities document it should be "http://www.interactive-instruments.de/namespaces/dem

[2016-01-13 00:47] rjmartell opened #18 "EPSG schema not created in Derby database"
When executing the test suite via the web application and the location specified by the system property `-Dderby.system.home` does not contain a database, one will be automatically created when the test run commences. However, the EPSG schema is not created and populated.

The following exception appears in the stderr log file (tomcat\*stderr\*.log):

    java.sql.SQLException: Table/View 'EPSG_VE

[2016-01-13 17:20] rjmartell commented on #18
There is a workaround. When the test suite is built (`mvn package`), a copy of the database is created and populated in the user home directory:

* Unix/Linux: $HOME/.geotoolkit.org/EPSG/7.09
* Windows:  %APPDATA%\Geotoolkit.org\EPSG\7.09

Simple copy the EPSG directory to `derby.system.home`.

[2016-01-13 17:26] bermud commented on #18
@rjmartell, since this database is used by several tests, can we just make it available as part of the core TE, and document how to use it? We will have similar issues with WFS 2.0 test and possible other tests.

[2016-01-13 17:28] rjmartell commented on #18
The `org.geotoolkit.referencing.factory.epsg.EpsgInstaller` class executes the SQL scripts embedded in the geotk-epsg module. The installer is not called in a web app context, but this can be done in a setup method.

[2016-01-13 17:54] rjmartell commented on #18
Adding it to the `teamengine-web` module is a possibility, but this introduces spurious dependencies that have nothing to so with module functionality. Probably better to have each test suite that uses the database first check that it is ready, and create/populate it if not.

This setup can be done by the `TestRunListener` which already creates a DataSource at the beginning of the test run. It can

[2016-01-28 22:03] rjmartell opened #19 "LineString in which srsName is 'http' URI throws NullPointerException"
A CRS reference may be specified as a well-known URI reference using the 'http' scheme, following [OGC 09-048r3](http://portal.opengeospatial.org/files/?artifact_id=37802), cl. 4.4. However, validating a LineString with such an srsName value (see below) produces a `NulPointerException` in the LineStringTests#validLineString test.

[code]

The root cause (at `GeometryAssert.assertGeometryCoveredByV

[2016-01-29 17:05] #19 closed

[2016-02-03 16:19] sMorrone opened #20 "Test method validSurfaceBoundary: Exterior boundary is not simple"
I receive following failure message
“Test method validSurfaceBoundary: Exterior boundary of surface with @gml:id='_77073d46-7578-4d9b-b031-ab587b75d30a' is not simple”
Below you can find a snippet of my GML file showing the failing geometry. As far as I can see, boundary is simple: it does not self-intersect and the start/end points overlap.
Would you help?

`<lcv:geometry>
                <gml:Su

[2016-02-04 16:56] #18 closed

[2016-02-04 17:22] rjmartell commented on #20
The axis order for EPSG 3044 (ETRS89 / UTM zone 32N) is N,E (see the [EPSG registry](http://epsg-registry.org/)). The coordinate tuples are in E,N order so they're incorrect. I'll check to see why the error message is somewhat misleading.

[2016-02-04 18:31] rjmartell commented on #20
Added assertion to check that surface lies within valid area of CRS. This geometry now fails with the following error message:

    SurfaceType[@gml:id='_77073d46-7578-4d9b-b031-ab587b75d30a'] is not covered by valid area of CRS:
    BOX2D(4061593.237159143 231991.50065096596, 7768690.108665481 768008.4993490342)

[2016-02-05 08:32] sMorrone commented on #20
I apologise for not describing the issue properly.
The failing polygon is part of a GML file containing 1265 polygons (all with same CRS and axis order) but I get  failure only on this one.
If I delete this failing polygon from the GML file, it validates successfully!
So I guess the issue does not lie in the erroneous axis order.
Would you please reconsider the issue?
Thanks in advance
Stefania

[2016-02-05 11:35] sMorrone commented on #20
I created a new GML file containing only the abovereferred failing polygon. I changed the coordinate order to Lat Lon.
Here’s the snippet
`<lcv:geometry> <gml:Surface gml:id="_77073d46-7578-4d9b-b031-ab587b75d30a" srsName="http://www.opengis.net/def/crs/EPSG/0/EPSG:3044"><gml:patches> <gml:PolygonPatch><gml:exterior> <gml:LinearRing> <gml:posList>4913412.229461599 526923.0335361051 4913414.6426371

[2016-02-16 23:39] rjmartell commented on #20
Are those coordinates correct? The area of the surface is only 0.3 m2 which seems awfully small (less than half the area of my desk!).

Because the points are so close together one or more of them are being pruned as likely duplicates, thus the "ring has fewer than three points".

[2016-02-17 09:08] sMorrone commented on #20
The GML is an Italian Corine Land Cover file. I guess the area is so small because of a "cut" operation in GIS environment aiming at taking into consideration the regional boundaries (actually Land Cover areas should not be so small ! ).  Would it be possible to modify the error message adding a warning about the fact that when points are too near they're considered as duplicates? maybe it would b

[2016-02-17 16:14] sMorrone commented on #20
Don't know if this helps, but I am now validating another INSPIRE GML file consisting of 583 polygons. Only one polygon fails with error message ```
Test method validSurfaceBoundary: Exterior boundary of surface with @gml:id='LOCAL_ID_394' is not simple. ``` This time the area of the polygon is huge : 1177.184 km2 and the **gml:posList** contains 25483 points (first point has same coordinates as t

[2016-02-18 22:26] rjmartell commented on #20
Sliver polygons are typically accidentally created though overlay or cut operations. For this sliver, A = 0.3 m2 and P = 5.2 m, yielding a "thinness" ratio of 0.14 (T = 4 * pi * A/P^2 = 1 for a circle) which suggests this is probably a topology anomaly. Something like this could be flagged in the validation report.

Is it possible to provide a copy of that failing polygon (LOCAL_ID_394)? You can a

[2016-02-19 09:55] sMorrone commented on #20
Here it is. Thanks for your support
[LOCAL_ID_394.txt](https://github.com/opengeospatial/ets-gml32/files/137707/LOCAL_ID_394.txt)

[2016-03-04 14:28] bermud opened #21 "WaterML 2.0 File - CRS issue"
When testing the enclosed WaterML file it reports The following issue related to CRS

<img width="810" alt="waterml-issues" src="https://cloud.githubusercontent.com/assets/3738898/13529604/260c46fa-e1eb-11e5-9737-9800a8517abd.png">

But a SRS is given:

[code]
Is it an issue of the test or the file?

[waterml.xml.zip](https://github.com/opengeospatial/ets-gml32/files/158796/waterml.xml.zip)

[2016-03-15 00:13] peterataylor commented on #21
Ah - srsName should be on the gml:Point element, not the gml:pos?

I.e.
[code]

Should be

[code]

[2016-03-15 10:32] bermud commented on #21
@rjmartell, can you please confirm Peter's suggestion?

[2016-03-23 17:00] bermud opened #22 "Testing Big GML files"
Seems that testing Big GML files is a problem 100 MBs or larger.

Discussed in OGC CITE SC Meeting - Washington TC 2016

[2016-05-13 22:11] rjmartell opened #23 "Move data validation into separate test suite"
The GML test suite should be split into two separate test suites as follows:

1. Validate a GML schema against the standard rules for application schemas or profiles (all of the conformance classes in GML 3.2 are about this)
2. Validate a GML document (A.3)

This separation would allow for optimizations to enable validation of large GML documents or data streams, which is problematic at the moment

[2016-05-19 13:57] bermud commented on #22
Forum discussions related to this topic:
- http://stackoverflow.com/questions/40663/validating-a-huge-xml-file
- http://stackoverflow.com/questions/9788868/how-to-validate-big-xml-against-xsd-schema
- https://dzone.com/articles/splitting-large-xml-files-java

[2016-06-07 21:33] bermud commented on #22
Next steps might be;

- implement a utility class to split up very large GML documents (GmlDocumentSplitter).
- experiment with various chunk sizes to determine what works best (e.g. if doc size > 100 MB, split it into 50 MB chunks)
- if necessary, do Schematron validation of the resulting chunks in parallel

[2016-07-13 18:30] bermud commented on #17
@keshav-nangare, please take a look at this issue and make sure that the new HTML is getting the colors correct.

[2016-07-20 09:06] rususorinvick commented on #20
Did you manage to get any reply to this issue? I am facing a similar with my Bio-geographical regions polygons: some validate, however other don't.
You can see that the Continental poly (very large highly detailed poly) is validated: [http://inspire.biodiversity.ro/geoserver/ows?service=wfs&version=2.0.0&request=GetFeature&typename=br:Bio-geographicalRegion&featureid=continental](url)
However the

[2016-10-04 15:41] rjmartell commented on #21
The gml:DirectPositionType definition does allow `@srsName`, so it is technically valid. But by far the most common practice is to place the CRS reference on a geometry element.

However, I'll revise the test to also look for a reference in non-deprecated child elements as a fallback (gml:pos, gml:posList).

[2016-10-04 17:04] #21 closed

[2016-10-11 17:19] bermud opened #24 "Move release notes from changelog to relnotes"
Current release notes are in changelog.html, change to relnotes for consistency with all the other tests.

[2016-11-17 00:04] rjmartell commented on #20
These services are unavailable at the moment (404). Can you attach a sample GML geometry representation that doesn't validate?

[2016-11-17 17:50] rjmartell commented on #20
The result appears to be affected by the tolerance for detecting consecutive duplicate positions. The default is 1 ppm. The large Polygon with gml:id="LOCAL_ID_394" validates if this is reduced to 0.5.

[2016-11-17 18:01] #20 closed

[2017-03-29 16:09] sMorrone opened #25 "GC overhead limit exceeded / Java heap space errors"
Using gml32-1.25 Test suite (at http://cite.opengeospatial.org/teamengine) , I am getting "Test method compileXMLSchema: GC overhead limit exceeded" or  "Test method validateLocationName: Java heap space" failures on small sized (even few KB !) INSPIRE GML datasets which, conversely, I am able to validate successfully with the 'eENVplus Validation Service' built on the gml32-1.22 Test suite.
For y

[2017-03-30 09:39] sMorrone commented on #25
I am able to successfull validate in the beta web site, so I guess the problem (still present in the official website) is not related to the gml32-1.25 Test suite itself.
So I close this issue

[2017-03-30 09:39] #25 closed

[2017-03-30 13:19] sMorrone opened #26 "Test method validSurfaceOrientation: Ring has fewer than 3 points"
With reference to the' _Fix #20: Reduce tolerance for detecting consecutive duplicate positions_' , I am retesting - using release 1.25 - some of the files which failed with previous releases due to both ‘_Exterior boundary is not simple_’ and ‘_Ring has fewer than 3 points_’ errors. While the ‘_exterior boundary_’ issue is no more there, the ‘_Ring has fewer than 3 points_’ error is still reporte

[2017-04-22 12:57] iuriemaxim commented on #26
Indeed we are receiving the same error message for spikes and punctures even if there is no spike and no puncture.

According to the rule 4 from  2.1.10 Polygon section of the OGC Simple Features Specification ”A Polygon may not have cut lines, spikes or punctures”

If testing the GML or the WFS with the OGC Validator http://cite.opengeospatial.org/teamengine/about/wfs/1.0.0/site/ there are chance

[2017-04-22 13:08] iuriemaxim commented on #20
This bug was not actually solved. The reduction of the tolerance to 0.5 is just allowing some fake spikes/punctures to pass the test, but some other are still not passing the test. It seems that all roads represented as polygons are not passing the test as the width of the road is significantly smaller than the distance between the vertices. The bug was reopened by Stefania Morrone here https://gi

[2017-04-25 08:01] keshav-nangare opened #27 "Add conformance class configuration into the gml32 test"
The test needs to be updated to better provide information about the grouping of the conformance class and determination about which ones are the basic conformance classes needed for certification.

Changes that are required are described here:
https://github.com/opengeospatial/cite/wiki/Encoding-Conformance-Classes

[2017-05-08 16:10] bermud commented on #23
Maybe not separate the tests but bring back the  enchanted test for instance testing back into the  main test suite.

[2017-10-13 12:42] dstenger commented on #27
The test suite covers around half of the conformance classes related to GML application schemas (chapter 2.2 of specification) and conformance classes related to GML documents (chapter 2.4 of the specification).

This is also documented on http://cite.opengeospatial.org/teamengine/about/gml32/3.2.1/site/.

There are no hints regarding a basic conformance class.

Are all CCS part of the basic CC? I

[2017-10-18 13:48] bermud commented on #27
I think is should be:

For application schemas:
- All GML application schemas and
- GML application schemas defining features and feature collections

For individuals:
- All GML application schemas and
- GML Documents

We prototyped separating the tests. Maybe its something we can materialized in the future.

[2017-11-09 12:07] dstenger commented on #17
All config tests should be ignored when the color of the report is determined.
This is fixed in https://github.com/opengeospatial/teamengine/issues/266

After the fix has been done, above described tests have to be updated (https://github.com/opengeospatial/ets-gml32/issues/17#issuecomment-165176029):
* GML application schemas defining time:  Config test must be made to a real test.
* GML applicat

[2017-11-16 21:30] heidivanparys opened #28 "feature collection of "gml:AbstractFeature"s does not validate"
I tried creating a very generic feature collection that could be used to contain all kinds of features. But my GML application schema did not pass the test.

In the process of trying to find out what was wrong, I took the first example in the GML 3.2.1 standard, and tried to test that. That fails too, with the same error, so my conclusion is that the test must be wrong.

Test suite executed: gml32

[2017-11-17 08:39] lgoltz commented on #28
Thank you for reporting. We will do further investigations.

[2018-03-05 14:33] dstenger commented on #27
When a test run is started, the user cannot distinct between an application schema and an individual GML document.
For example, if a document [1] is validated, all CCs are executed (no CC is completely skipped).
If a application schema [2] is validated, all CCs are executed but all tests in ```GML Documents``` are skipped.

Thus, there must be a solution which considers validation of both data typ

[2018-03-14 07:35] lgoltz commented on #27
Configured conformance classes listed above as well as the required conformance class  'Preconditions'  as basic (PR #29).

Tested locally within a docker environment and the URLs above (TEAM Engine 5.2, ETS GML 3.2 current snapshot). The faiure described in https://github.com/opengeospatial/teamengine/issues/284#issuecomment-367694919 occurs.

[2018-03-14 08:53] lgoltz commented on #27
Problem fixed by correcting the position of the element BasicConformanceClasses (commit https://github.com/opengeospatial/ets-gml32/pull/29/commits/87018e02f4ce9451760efd376b7a1c2db587b015).

[2018-04-17 13:44] #27 closed

[2018-04-17 14:02] dstenger commented on #27
Configuration was adjusted as there are no Preconditions and name of CC was adjusted.
Commit: https://github.com/opengeospatial/ets-gml32/commit/3c5ab99b1f209932aa6e11207e19531dd95c7875

[2018-07-31 13:12] dstenger commented on #17
Behaviour can be reproduced with: http://cite.deegree.org/deegree-webservices-3.4.0/services/gml321?service=WFS&request=GetCapabilities

See following screenshot:
![ets-gml321](https://user-images.githubusercontent.com/2989166/43461533-09831e7a-94d4-11e8-8d93-663c31193500.png)

All spatial topology tests must be skipped as there are not data with GML topology.

[2018-08-01 15:43] keshav-nangare commented on #17
@dstenger

As we discussed the `configurationPolicy `attribute from the testng.xml, if we change the value to "`skip`" then it will skipping all the test but not changing the status of the configuration test. So this solution is not working.

Proposal: We had to add manually skipException into all configuration test then we get expected result(i.e. skip) as similar to the `GML Document` tests.

I

[2018-08-02 13:16] keshav-nangare commented on #17
Updated the above configuration test as per the proposal.

Fixed with commit: b0be780 [PR: #30]

[2018-08-13 17:31] keshav-nangare commented on #28
@heidivanparys

I think substitutionGroup should be`"gml:AbstractGML"`  then it will work.

Can you please test this xsd that I have attached here?:
[collection-standard-example1_xsd.txt](https://github.com/opengeospatial/ets-gml32/files/2284043/collection-standard-example1_xsd.txt)

[2018-08-14 12:42] heidivanparys commented on #28
@keshav-nangare The file you uploaded seems to be the wrong one, it contains a list of links, not a GML application schema.

[2018-08-14 13:05] heidivanparys commented on #28
The example is taken literally from the GML 3.2.1 standard, and that example uses gml:AbstractFeature, not gml:AbstractGML. So I do not think that replacing gml:AbstractFeature by gml:AbstractGML is the right solution.

I tested again, also on the beta validator (test suite executed: gml32-1.26), there I get the same error.

![billede](https://user-images.githubusercontent.com/11427611/44093204-5f

[2018-08-22 08:09] dstenger opened #31 "Create SoapUI tests and integrate them into Maven and Jenkinsfile"
See opengeospatial/ets-wms13#56 for instructions.

Please use following service implementation: http://cite.deegree.org/deegree-webservices-3.4.0/services/gml321?service=WFS&request=GetFeature&Version=2.0.0&typenames=app:Autos

[2018-08-24 12:10] heidivanparys opened #32 "ArrayIndexOutOfBoundsException thrown for MultiCurve with srsDimension=3"
A java.lang.ArrayIndexOutOfBoundsException is thrown in test valid Line String when testing this file:
[multicurve_z.txt](https://github.com/opengeospatial/ets-gml32/files/2318252/multicurve_z.txt)

I think that it has something to do with the fact that z coordinates are given as well, I don't get this exception when testing a MultiCurve with only x and y coordinates.

![billede](https://user-imag

[2018-08-24 13:09] dstenger commented on #32
Thank you for reporting this issue. We will do further investigation.

[2018-08-30 13:29] keshav-nangare commented on #31
Updated  with this PR: #33

[2018-08-31 17:31] keshav-nangare commented on #32
@dstenger

This issue is not with the test but its related to one of the dependencies. The dependency geomatics-geotk is having the problem with following line:

https://github.com/opengeospatial/geomatics-geotk/blob/3e400ec87a46ab947221840a19ad5b1320598539/src/main/java/org/opengis/cite/geomatics/gml/GmlUtils.java#L255-L257

According to document the lenth of posListis 9 and dimension is 3 but th

[2018-09-03 07:50] lgoltz commented on #32
@keshav-nangare
I agree with your analysis. I assume the failure is in https://github.com/opengeospatial/geomatics-geotk/blob/3e400ec87a46ab947221840a19ad5b1320598539/src/main/java/org/opengis/cite/geomatics/gml/CurveCoordinateListFactory.java#L134-L135:

The ccordinates are parsed from the posList, but the srsDimenstion is taken from the LineString (which defaults to 2 as it is not set. Correct s

[2018-09-04 16:33] keshav-nangare commented on #32
@dstenger @lgoltz

I have investigated this issue and found the problem with the dependency of geotoolkit.

The dependency geomatic-geotk is using the geotoolkit dependency to parse the gml resource and LineString class belongs to the geotoolkit/geotk-xml-gml dependency.

As per the current requirement of the geomatic-geotk dependency it should return the srsDimentsion but this implementation is n

[2018-09-05 08:54] lgoltz commented on #32
Link to the fix: https://github.com/Geomatys/geotoolkit/blob/f9e4d6c495330281f349633d52c1b1deaa7b39ad/modules/jaxb-xml-binding/geotk-xml-gml/src/main/java/org/geotoolkit/gml/xml/AbstractGeometry.java#L40

This can help us to detect if the the srsDimension is set for the geometry (Element LineString). But I think it also important, that with commit https://github.com/Geomatys/geotoolkit/commit/0b23

[2018-09-05 11:12] heidivanparys commented on #32
@lgoltz It's an important but not urgent issue for me. So I'll leave the prioritising to you.

[2018-09-12 10:22] lgoltz opened #34 "Incorrect valid area of CRS http://www.opengis.net/def/crs/EPSG/0/25832"
https://github.com/opengeospatial/teamengine/issues/309#event-1840464843

[2018-09-12 10:44] lgoltz commented on #34
As far as I see it is not possible to configure the domain of validity with an improved WKT configuration or within Geotoolkit.
@keshav-nangare Can you recheck this? Solves an update to a newer version of geotoolkit the test failure. Otherwise a workaround for this CRS in GeometryAssert could solve this.

[2018-09-28 16:35] keshav-nangare commented on #34
@lgoltz

As the geotoolkit dependency is part of the geomatic-geotk dependency not the ets-gml32, this issue is similar to #32 with geotoolkit, maybe we need to wait for new release.

[2018-10-01 08:45] lgoltz commented on #34
Do you know if this issue will be fixed in a new release? Otherwise we should ask or create a bug for it.

[2018-11-09 14:12] dstenger opened #36 "Introduce Dockerfile and Maven Docker plugin"
Please see: [How to create Docker Images of test suites](https://github.com/opengeospatial/cite/wiki/How-to-create-Docker-Images-of-test-suites)

[2018-11-19 06:29] keshav-nangare commented on #36
@dstenger

Changes are here: https://github.com/opengeospatial/ets-gml32/tree/feature-issue%2336

[2019-01-04 14:17] dstenger commented on #36
@keshav-nangare
Thank you for your work.
However, there was an update of https://github.com/opengeospatial/cite/wiki/How-to-create-Docker-Images-of-test-suites.
Can you please adjust the Maven configuration according to the updated manual?

[2019-01-07 13:07] keshav-nangare commented on #36
@dstenger

Need correction in the wiki page with docker file path: `/src/main/docker/`.

Can you please update this wiki page?

[2019-02-19 10:50] keshavnangare opened #38 "Failed to execute the test suite after teamengine upgraded to Jax-rs 2.0 and Jersey 2.28"
Reference from: https://github.com/opengeospatial/teamengine/issues/151#issuecomment-465073507

The test suite failed after updating the teamengine with Jax-rs and Jersey to latest version.

[2019-04-11 17:38] dstenger commented on #36
@keshav-nangare Dockerfile shall be moved to `src/docker/Dockerfile`. Documentation is correct here. Can you please update the pull request?

[2019-04-15 14:29] #31 closed

[2019-04-15 14:48] dstenger opened #40 "Enable Docker support and configure integration tests"
Please see:
* https://github.com/opengeospatial/cite/wiki/How-to-create-Docker-Images-of-test-suites
* https://github.com/opengeospatial/cite/wiki/How-to-run-tests-for-test-suites-with-SoapUI

[2019-04-17 07:42] lgoltz commented on #26
The failure is reproducible with the provided example.

The test SurfaceTest.validSurfaceOrientation uses GeometryAssert.assertValidSurfaceOrientation for the validation of a surface. The surface will transformed to a right handed coordinate array cause JTS expects this:
https://github.com/opengeospatial/ets-gml32/blob/7580067273e0114dc6e8cfdcb90d7a82f995d370/src/main/java/org/opengis/cite/iso1913

[2019-04-17 07:46] lgoltz commented on #40
@dstenger Is this issue a duplicate of #36 and #31?

[2019-04-17 08:13] dstenger commented on #40
Part of this task is covered by those issues. But, the integration test configuration is still missing.

[2019-04-18 13:40] keshav-nangare commented on #36
@dstenger

Moved Docker file to /src/docker/

[2019-04-23 15:18] #36 closed

[2019-04-23 15:27] #24 closed

[2019-04-24 05:52] #17 closed

[2019-05-08 10:34] dstenger commented on #40
@keshav-nangare
Build with `mvn clean install site -Pintegration-tests,docker` is failing.
SoapUI specific properties are missing in Maven configuration.

[2019-05-15 14:39] #28 closed

[2019-05-15 14:48] dstenger commented on #28
# Verify fix

Test `verify Feature Member Properties` is not failing anymore when validating collection-standard-example1.txt.

[2019-05-24 13:56] dstenger opened #43 "Update tests to use TEAM Engine 5.4"
Applies to integration and system tests.

SoapUI project must be updated as version was removed from URI to test suites of REST API (also see https://github.com/opengeospatial/teamengine/issues/261).
Please also update Maven configuration and set version of SoapUI Maven Plugin to 5.5.0.

See updated documentation: https://github.com/opengeospatial/cite/wiki/How-to-run-tests-for-test-suites-with-So

[2019-05-29 12:07] #40 closed

[2019-05-29 12:08] lgoltz commented on #43
Fixed with #41

[2019-05-29 12:08] #43 closed

[2019-06-25 13:30] bermud opened #44 "Inspect the test for GML 3.2.2"
Check if the test is covering 3.2.1 version, per conversation at the TC June 25th 2019.

[2019-06-25 14:39] dstenger commented on #44
It must be checked if GML 3.2.2 is covered by test suite.

[2019-06-25 14:44] dstenger commented on #44
Possible actions:
- Create issue to updated documentation, if needed.
- Create issue to implement GML 3.2.2 tests, if needed.

[2019-08-12 08:01] heidivanparys opened #45 "2.5D points"
When testing a GML file containing a 2.5D point, I get the following error:

I reproduced the error by updating org.opengis.cite.iso19136.data.spatial.VerifyPointTests, see https://github.com/heidivanparys/ets-gml32/tree/point_valid_position

The new unit test verify25DPointHasValidPosition tests https://github.com/heidivanparys/ets-gml32/blob/point_valid_position/src/test/resources/geom/Point-2.5

[2019-08-12 08:38] dstenger commented on #45
Thank you for reporting. We will work on a fix.

Hint for the fix: Provided unit test shall be kept and is a good basis for the branch fixing this issue.

[2020-01-07 11:52] lgoltz commented on #38
BLOCKED: Requires TEAM Engine 5.5 (https://github.com/opengeospatial/teamengine/issues/151)

[2020-01-20 14:47] danieluct opened #46 "application schema limitation"
There is currently a hardcoded limitation that schema target namespaces should not include the string "opengis.net". The standard only requires "This shall not be the GML namespace (http://www.opengis.net/gml/3.2).", thus values such as http://www.opengis.net/samplingSpatial/2.0 should be accepted

[2020-01-22 10:41] dstenger commented on #46
Thank you for reporting this issue.

You are probably referring to method `getApplicationNamespaceName`? I agree that there is no hint in the specification that opengis.net domain is not allowed.

@keshav-nangare Can you please fix `getApplicationNamespaceName`? Just http://www.opengis.net/gml/3.2 is not allowed as target namespace and not the whole opengis.net domain. Can you also please update t

[2020-01-22 10:56] danieluct commented on #46
Indeed, I was referring to `getApplicationNamespaceName`

[2020-03-13 11:25] keshav-nangare commented on #45
@dstenger

I am able to reproduce this issue on my local machine and found that the exception is generating from third party library geotoolkit. We will discuss this issue in next meeting.

[2020-03-18 09:12] dstenger commented on #45
Issue is related to solution of #32. Currently, it is hard to fix as the problem occurs in a third-party-library.

@heidivanparys What is the priority for this issue?

[2020-03-18 10:33] dstenger commented on #44
We are looking for example/test files to verify and document the current status.

[2020-03-18 18:11] keshav-nangare commented on #46
Fixed with #47 PR.

[2020-03-27 08:49] heidivanparys commented on #45
Thanks for investigating, and good to know where the problem is. The priority: in one project I am participating in, it is a requirement that data are exchanged using 3D CRSs. So for that project it is blocking unfortunately.

[2020-03-27 18:07] dstenger commented on #45
@keshav-nangare Can you please check if geotoolkit can be updated and if the problem is solved in a newer version?

[2020-04-06 12:54] keshav-nangare commented on #45
@dstenger

I went through the geotoolkit repository but unable to find the new release. Also, there is no new release in the maven central repository.

[1] http://maven.geotoolkit.org
[2]https://nexus.geomatys.com/service/rest/repository/browse/geotoolkit/org/geotoolkit/pending/geotk-xml-gml/
[3] https://mvnrepository.com/artifact/org.geotoolkit.pending/geotk-xml-gml

[2020-04-08 08:17] dstenger commented on #45
@keshav-nangare Can you please check if this test can be updated so that geotoolkit is not used anymore and support of 2.5D points is implemented in the test suite itself?

[2020-04-15 08:39] dstenger commented on #45
We will simplify following code
https://github.com/opengeospatial/ets-gml32/blob/58c335cda327693b1dbfed7ac9e3487348fb9539/src/main/java/org/opengis/cite/iso19136/data/spatial/PointTests.java#L194
by limiting the number of loops to two.
By that, a 3rd dimension will be ignored by the test.

[2020-04-16 16:08] keshav-nangare commented on #45
@dstenger

I have updated the code as we discussed and tested the changes but still getting the same error.

I have tried to update the resource file as well but still getting the same failure. I think the failure is around the `srsName="http://www.opengis.net/def/crs/EPSG/0/7416"`

Test file:Point-2.5d.xml:
[code]

[2020-04-22 17:24] dstenger opened #48 "Integration tests are failing"
Currently, the integration tests are failing on master branch.
Command to reproduce this behavior: `mvn clean install site -Pintegration-tests,docker` (or shorter `mvn clean install -Pintegration-tests`)

Also, a reference implementation can be used to reproduce the behavior manually: http://cite.deegree.org/deegree-webservices-3.4.5/services/gml321?service=WFS&request=GetFeature&Version=2.0.0&typ

[2020-04-23 16:57] keshav-nangare commented on #48
@dstenger

I am able to reproduce this issue and found that problem with the same condition.
https://github.com/opengeospatial/ets-gml32/blob/4f81dd502cba1f8d29ca9167a2916b303b1b7eb5/src/main/java/org/opengis/cite/iso19136/general/GeneralSchemaTests.java#L189-L205

Here I got the following schema list:
[code]
We have already ignored schema from `http://www.opengis.net/gml/3.2`. We can see in above

[2020-04-23 17:04] keshav-nangare commented on #48
Fixed with #49 PR.

[2020-04-23 17:23] dstenger commented on #48
I don't think we should create a workaround for the RI.

What value does this method return on the RI?
[code]
Obviously, it is ```http://schemas.opengis.net/wfs/2.0/wfs.xsd```, right?
However, this namespace is not declared as target namespace.

Thus, there seems to be a more general bug in this method.

[2020-04-27 12:33] dstenger commented on #48
@keshav-nangare Can you please investigate how https://github.com/opengeospatial/ets-gml32/issues/46 alternatively?

[2020-04-27 12:35] dstenger commented on #48
@danieluct
Unfortunately, this issue is blocking the pending release as the pull request for https://github.com/opengeospatial/ets-gml32/issues/46 led to regressions.
We are investigating how to solve the issue but unfortunately we have to postpone the release till this issue is solved.

[2020-04-27 13:43] dstenger commented on #48
@danieluct
Can you provide a test service causing the problem reported in #46?

[2020-04-28 19:38] ghobona opened #50 "Add JAXB to Maven"
Java 11 no longer includes Java XML Binding (JAXB). See the [release notes](https://www.oracle.com/technetwork/java/javase/11-relnote-issues-5012449.html#JDK-8190378) or the [discussion thread](https://stackoverflow.com/questions/52502189/java-11-package-javax-xml-bind-does-not-exist).

To continue to use JAXB classes such as javax.xml.bind.Unmarshaller, you have to add it from Maven.

[code]

[2020-05-06 07:59] dstenger commented on #45
@keshav-nangare
Can you please try to replace geotoolkit library by Apache SIS (https://sis.apache.org/) to solve this problem?
If that approach is successful, we will create a general issue to replace geotoolkit library by Apache SIS in the whole test suite.

[2020-05-11 14:52] dstenger commented on #48
Decision: We undo PR #47.

[2020-05-11 14:53] dstenger commented on #46
PR is reverted in https://github.com/opengeospatial/ets-gml32/issues/48.

We work on a new solution.

[2020-05-14 13:54] keshav-nangare commented on #45
Following steps are tried:

- I have added the apache-sis and embedded database dependency.

- I have tried to replace geotoolkit dependent class by apache sis in PointTest class with point_valid_position test but it throws below error
 `No ‘CoordinateReferenceSystem’ object found for code “//www.opengis.net/def/crs/EPSG/0/7416” in the “EPSG” geodetic dataset`.
- I have fixed this issue by adding

[2020-05-19 16:58] keshav-nangare commented on #45
@dstenger

The exception `call site initialization exception` has gone after removing the geomatic-geotk dependency. There are several classes used in test suite so getting errors in multiple classes. I have removed geomatic-geotk classes used in `PointTest` class for testing purpose. I have tested the changes but got the same issue as reported in the first comment.

Following are the findings  of

[2020-05-19 20:22] ghobona commented on #45
@keshav-nangare @dstenger

I agree with the proposed solution.

[2020-05-20 08:26] dstenger commented on #45
As discussed with @keshav-nangare and @ghobona we decided to go with the proposed solution using geotoolkit. The reason being that there are several other classes that depend on geotoolkit.

[2020-05-20 13:12] keshav-nangare commented on #45
@dstenger @ghobona

According to today's discussion, I have updated the `pointHasValidPosition` test and updated y axis and tested the changes successfully. Also, I have removed the JUnit test `point3DWith2DCRS `.
Created the PR for same #51.

[2020-05-20 13:17] keshav-nangare commented on #48
@dstenger

I have reverted #47 PR changes. Please find updated changes in #49 PR.

[2020-05-26 08:32] keshav-nangare commented on #26
@dstenger @lgoltz

I have gone through the proposed solution and did some workaround.

I think the available tests in SurfaceTests are validating for each provided surface. Please find below reference for more details: https://github.com/opengeospatial/ets-gml32/blob/4f81dd502cba1f8d29ca9167a2916b303b1b7eb5/src/main/java/org/opengis/cite/iso19136/data/spatial/SurfaceTests.java#L149-L155

The test

[2020-05-26 08:44] ghobona commented on #34
@keshav-nangare Please confirm whether this issue is solved.

[2020-05-26 08:47] ghobona commented on #32
@keshav-nangare Please confirm whether this issue has been solved.

[2020-05-26 09:03] ghobona commented on #44
The ETS does not include the GML 3.2.2 schema, so it currently supports 3.2.1

https://github.com/opengeospatial/ets-gml32/blob/master/src/main/resources/org/opengis/cite/iso19136/xsd/opengis/gml/3.2.1/gml-3.2.1.xsd

![Screenshot 2020-05-26 at 10 01 25](https://user-images.githubusercontent.com/18121038/82881800-17881280-9f38-11ea-8f6d-dcedad8a121d.png)

[2020-05-26 09:03] #44 closed

[2020-05-26 12:22] heidivanparys commented on #44
But shouldn't the test support GML 3.2.2 instead of GML 3.2.1, as 3.2.2 is the version in effect now? That was the original issue as I remember from the meeting in June 2019.

http://schemas.opengis.net/gml/3.2.1/gml.xsd

![image](https://user-images.githubusercontent.com/11427611/82899755-c9850600-9f5b-11ea-86a7-7cf1ceab67bf.png)

http://schemas.opengis.net/gml/ReadMe.txt

![image](https://user-i

[2020-05-26 20:38] ghobona commented on #44
@heidivanparys You are correct that the ETS should support GML 3.2.2. The original ticket was about inspecting whether the ETS supports version 3.2.2 or 3.2.1, hence after determining that the ETS supports version 3.2.1 the ticket was closed.

We are now looking into when we will be able to extend the ETS to support GML 3.2.2.

We will add GML 3.2.2 to the [Roadmap](https://docs.google.com/spreads

[2020-05-27 13:31] keshav-nangare commented on #26
I have added a new method as per the proposed solution. The changes are successfully tested with the provided example file in the first comment.

[2020-05-29 11:53] dstenger commented on #46
Proposal for solution:
An optional parameter is added to the user interface allowing to specify the application namespace if it is in opengis.net domain.
Disadvantage: User interaction is required making the test suite more complex.

[2020-05-29 11:58] #48 closed

[2020-05-29 19:43] danieluct commented on #46
It was a busy period and I missed the notification on this. I do understand the technical limitation with the existing solution (though I'm not sure that the test failed by the PR #47 is well designed), but I don't think that services respecting the standard should be failed because of this. Maybe you can mark ets tests depending on this as "skipped" with an explanatory message indicating this new

[2020-06-02 08:35] dstenger commented on #46
Another proposal for solution:
Following namespace is allowed `http://www.opengis.net/sampling*` but other namespaces in opengis.net domain are still not allowed.
Hint for developer: The additionally allowed namespaces are configured in an Array so that it can easily be enhanced by further namespaces.

[2020-06-03 13:49] danieluct commented on #46
I agree that explicitly allowing particular namespaces on opengis.net may be a better solution.

[2020-06-04 14:25] keshav-nangare commented on #46
@dstenger

According to the proposed solution, I have updated the test. Please find changes in #53 PR.

[2020-06-08 07:41] keshav-nangare commented on #34
@dstenger @ghobona

Here are my findings:
1. A polygon with which we are trying to validate has the same projected bounds as mentioned on http://spatialreference.org/ref/epsg/25832/.
2. The provided example file coordinates are reduced to a smaller polygon using the computeConvexHull method.
https://github.com/opengeospatial/ets-gml32/blob/ee05a587b538842976070c77dfe40d5533b2e5e6/src/main/java/org

[2020-06-08 13:27] dstenger commented on #46
@keshav-nangare
Your current solution just allows namespaces which are in the array (currently, just `*opengis.net/sampling*`).
However, the old mechanism should be kept -> Namespaces which are not in opengis.net domain are considered.

Summarized, all namespaces which are not in opengis.net domain and all namespaces listed in the array are considered.

Can you please update the pull request?

[2020-06-10 08:17] dstenger commented on #46
Current solution should work and will be tested.

[2020-06-10 09:49] ghobona commented on #34
GML file of the coordinates are attached.

[code]

![citetest](https://user-images.githubusercontent.com/18121038/84253532-fadb0580-ab07-11ea-8a13-a5c5d598d75e.png)

[2020-06-12 12:30] keshav-nangare commented on #32
I have investigated the issue and found the problem in the `unmarshal` method. While unmarshalling data file to `LineStringType` class it is not assigning value to the `srsDimension`(so it becomes null) field. So line object passed for further execution as you can see in below snippet:
https://github.com/opengeospatial/ets-gml32/blob/ee05a587b538842976070c77dfe40d5533b2e5e6/src/main/java/org/openg

[2020-06-12 13:34] ghobona commented on #32
@keshav-nangare The proposed solution looks fine.

[2020-06-15 08:58] ghobona commented on #34
@keshav-nangare Since the problem appears to be with the copy of the EPSG database that Geotk uses, I suggest looking into whether the database can be updated.

Could you please look into it?

[2020-06-15 09:36] keshav-nangare commented on #34
@dstenger @ghobona

I have verified with apache-sis lib and retrieved the CRS info and got the different bounding BOX as compared to Geotoolkit.

Following are the valid area polygon values(Retrieved from apache-sis):

[code]

We can see the below screenshot with the highlighted portion, the polygon from the input file lies inside the valid area.

![Screenshot 2020-06-15 at 2 54 40 PM](https://use

[2020-06-15 09:37] keshav-nangare commented on #34
@ghobona

Sure, I will look into it whether we can update the database or not.

Thank You!

[2020-06-15 09:50] keshav-nangare commented on #32
@dstenger @ghobona

The proposed solution will fix the ArrayIndexOutOfBoundException but test will fail with the following assertion:
[code]

As the input data provided in first comment lies outside the valid area of CRS. If we change the input data values which are starting from 72 to 68 then the test gets passed.

[2020-06-15 09:56] keshav-nangare commented on #32
Fixed with this PR #54.

[2020-06-15 20:39] #46 closed

[2020-06-17 08:18] dstenger commented on #34
Conclusion: Replacing Geotoolkit dependency with apache-sis would solve the problem. However, updating the dependency is very complex.

[2020-06-17 11:28] carlospzurita opened #55 "Support for GML geometry types - Curve and Surface"
As a part of the validation process for WFS in the [INSPIRE validator](https://inspire.ec.europa.eu/validator/), there is a dependency from the TEAM engine for testing WFS 2.0 specification.

An user has opened an [issue](https://github.com/inspire-eu-validation/community/issues/314) in the community space for the validator sharing an error from the OGC testing engine with their service endpoint t

[2020-06-17 14:17] dstenger commented on #55
Thank you for reporting.

As this issue is related to the WFS 2.0 test suite, I will transfer the issue to that repository.

[2020-06-23 08:23] dstenger commented on #34
@keshav-nangare
Can you please check if latest version of geotoolkit (4.0-M4) provided by repository https://nexus.geomatys.com/#browse/browse:geotoolkit:org%2Fgeotoolkit solves the problem?

If that is not the case, can you please check the master branch of https://github.com/Geomatys/geotoolkit/tree/master if the problem is solved there?

[2020-06-24 08:51] dstenger commented on #34
Result of meeting with Keshav: Currently, geotoolkit cannot easily be updated to version 4 as the API changed causing multiple compilation errors in our project.

[2020-06-26 13:13] #45 closed

[2020-06-26 14:23] #32 closed

[2020-08-19 06:44] keshav-nangare opened #56 "Update dependency of geomatics-geotk to version 1.15"
Reference from: https://github.com/opengeospatial/cite/issues/52

These changes should be done after all PR's are merged. https://github.com/opengeospatial/geomatics-geotk/pulls

[2020-09-08 16:20] dstenger commented on #26
I fixed by merge of #52.

[2020-09-08 17:57] iuriemaxim commented on #26
@dstenger will this solve also the wrong reported errors for spikes and punctures which actually do not exist? Do you need a gml file to test for spikes and punctures?

[2020-09-09 08:19] dstenger commented on #26
@iuriemaxim Can you please provide a test file so that we can check if this problem is solved?

[2020-09-16 08:57] dstenger opened #57 "Cleanup dependencies"
When running `mvn org.apache.maven.plugins:maven-dependency-plugin:analyze`, I get following warnings:
[code]

All used undeclared compile dependencies shall be declared in Maven pom file.
All unused declared dependencies shall be removed from Maven pom file.

[2020-09-16 15:07] iuriemaxim commented on #26
@dstenger Here they are:

http://gmlid.eu/RO/ENV/PADS/WFS?service=wfs&version=2.0.0&request=getfeature&typenames=ps:ProtectedSite&STOREDQUERY_ID=GetFeatureByINSPIREId&featureType=ps:ProtectedSite&inspireId=ps:inspireID&namespace=http://gmlid.eu/RO/ENV/PADS/PS/&localId=ROSPA0076

http://gmlid.eu/RO/ENV/PADS/WFS?service=wfs&version=2.0.0&request=GetFeature&typenames=br:Bio-geographicalRegion&feature

[2020-09-16 20:38] iuriemaxim commented on #26
@dstenger I confirm that the issue with spikes and punctures was fixed. The geometry below did not passed the test 4 years ago. Now it is passing the test.

![image](https://user-images.githubusercontent.com/20813598/93389846-70780f80-f875-11ea-9167-aeca84d62fbf.png)

[2020-09-18 15:35] keshav-nangare commented on #57
@dstenger

I have added used undeclared dependencies and removed unused declared dependencies except for the following dependency.

1. `com.google.inject:guice` is inherited from the parent and unable to exclude it.

Please find changes in #58 PR.

[2020-09-23 09:22] ghobona commented on #26
@sMorrone @iuriemaxim

If the problem has been fixed, shall we close this GitHub issue?

[2020-09-23 09:59] ghobona commented on #34
@dstenger @keshav-nangare Let's discuss sometime in early October 2020.

[2020-09-23 22:39] iuriemaxim commented on #26
@ghobona with the implemented solution the spikes and puncture issue does not exist anymore, so from this point it can be closed. If the example file that was provided by Silvia Morrine is not not trigerring anymore an error, than it can be closed.

[2020-09-25 11:04] ghobona commented on #26
Fixed by PR https://github.com/opengeospatial/ets-gml32/pull/59

Verified on both Beta and Production TEAM Engine instances.

[2020-09-28 11:17] dstenger commented on #34
Conclusion: We will proceed with the fix in geomatics-geotk as proposed above in a separate branch.

[2020-10-16 17:36] #56 closed

[2020-10-16 17:39] #26 closed

[2020-12-22 11:38] keshav-nangare opened #61 "Add template to get an XML/JSON response via rest endpoint"
Please see opengeospatial/cite#56

[2021-01-07 11:23] keshav-nangare commented on #61
Fixed with #62 PR.

[2021-01-18 09:41] dstenger commented on #34
2021-01-18 meeting:

@keshav-nangare Can you please check if only one test failing or if multiple tests are failing (test data are available here: https://github.com/opengeospatial/teamengine/issues/309)? Can you please create a list of the failing tests?
If the failure is an isolated test, we propose to just update this test to use apache-sis for determination of the valid area.

[2021-01-20 12:45] keshav-nangare commented on #34
I executed the test suite with provided file, the result shows the `validSurfaceBoundary` test is getting failed.

[2021-01-21 12:13] keshav-nangare commented on #34
As per the above comment, I tried to fix the test by adding the `apache-sis` dependency and implemented a new class providing method similar to the geotoolkit class reference. I am trying to build the test suite but many of the JUnit tests are getting failed with an exception: `java.lang.NoClassDefFoundError: Could not initialize class org.apache.sis.measure.Units`

[2021-01-25 09:49] dstenger commented on #34
@keshav-nangare Can you please push your changes to a new branch? Then we can check it together.

[2021-01-25 10:20] keshav-nangare commented on #34
@dstenger I have pushed changes to [issue#34](https://github.com/opengeospatial/ets-gml32/tree/issue%2334) branch. Please check it.

[2021-02-12 15:47] dstenger commented on #34
Indeed, there seems to be an incompatibility between apache-sis and geotoolkit as both libraries implement the same interfaces.

[2021-02-15 20:38] ghobona commented on #34
@keshav-nangare

Some observations.

**Item 1**

The issue#34 branch still uses several geotoolkit classes. For example the [CurveTests](https://github.com/opengeospatial/ets-gml32/blob/issue%2334/src/main/java/org/opengis/cite/iso19136/data/spatial/CurveTests.java) class.

To replace geotoolkit with apache-sis, you would have to replace all of the geotoolkit uses.

**Item 2**

The [Units](https:/

[2021-05-10 08:47] dstenger commented on #34
Discussion 2021-05-10:
* We decided to stick with geotoolkit for issue and do the apache sis migration later.
* Test the extend for this particular CRS programmatically (extent might be stored in CSV file) without using geotoolkit (as proposed in https://github.com/opengeospatial/ets-gml32/issues/34#issuecomment-420601688).

[2021-11-17 09:30] bpross-52n opened #65 "validateMembersOfGmlObjectCollection test fails"
**Describe the bug**
validateMembersOfGmlObjectCollection test fails
See https://github.com/opengeospatial/ets-wfs20/issues/198

**To Reproduce**
Steps to reproduce the behavior:
1. Download schema https://inspire.ec.europa.eu/schemas/omop/3.0/ObservableProperties.xsd
2. Run ets-gml32 test suite
3. validateMembersOfGmlObjectCollection test fails

**Expected behavior**
validateMembersOfGmlObjectCol

[2022-01-26 10:24] dstenger opened #66 "Improve error message when parsing is failing due to a HTTP redirect"
For more details, please see: https://github.com/opengeospatial/ets-wfs20/issues/216#issuecomment-1013187942

[2022-11-17 09:37] dstenger opened #69 "Implement support for GML 3.2.2"
GML v3.2.2 shall be supported by the test suite.

This issue is a follow up to https://github.com/opengeospatial/ets-gml32/issues/44.